@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #113946;
  --accent-color: #1a0031;
  --secondary-color: #EAD7BB;
  --background-color: #e1eaed;
  --box-color: #d5dfe6;
  --box-icon: #c3cdd4;
  --box-hover-color: #d3e2ed;
  --line-color: #113946;
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}
h2{
  font-size: 1.4rem;
  font-weight: bold;
}
h3{
  font-size: 1.3rem;
  font-weight: bold
}
.box{
  background-color: var(--box-color);
  border-radius: 10px;
  padding: 14px;
}
svg{
  display: inline-block;
}
.scroll-button {
  border: 1px solid var(--accent-color);
  display: inline-block;
  padding: 4px 24px;
  border-radius: 30px;
}
.scroll-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  transition: .3s;
}

/* FORM */
form input{
  padding: 10px;
  border-radius: 6px;
  max-width: 400px;
}
form label{
  font-weight: 500;
}
form textarea{
  padding: 10px;
  border-radius: 6px;
}
form select{
  padding: 10px;
  border-radius: 6px;
  max-width: 400px;
}